.markreadtext {
	background-color: #FFE5B4;
	font-size: 20px;
}
.markreadingtext {
	background-color: #FFDB58;
	font-size: 20px;
}
.markinquetext {
	font-size: 20px;
}
#aud {
 width: 100%;
}​


.markreadtext a {
    text-decoration: none; color:black;
}
.markreadtext a {
    text-decoration: none; color:black;
}
.markreadingtext a {
    text-decoration: none; color:black;
}
.markreadingtext a {
    text-decoration: none; color:black;
}
.markinquetext a {
    text-decoration: none; color:black;
}
.markinquetext a {
    text-decoration: none; color:black;
}